body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

body:hover .block1 {
    background-color: red;
}

header,
nav,
main {
    padding: 10px 20px;
    max-width: 960px;
    margin: 0px auto;
}

main {
    padding-top: 0;
}

header img {
    display: inline-block;
}

header {
    display: flex;
    justify-content: center;
}

header div {
    color: white;
    text-shadow: 1px 3px 3px black
}

.headerdiv {
    margin-left: 40%;
}

.fondo_header {
    background-image: url('../img/bannerfondo960.jpg');
    background-attachment: fixed;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position-x: center;
}


nav {
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/seamless.jpeg);
    background-color: #283618;
    max-width: 920px;
    display: flex;
    margin-bottom: 0;

}

nav a {
    padding: 8px;
    margin: 2px;
    margin-bottom: 0;
    color: rgb(251, 251, 251);
    text-decoration: none;
    font-size: 14px;
    border-left: #283618 1px solid;
    border-top: #283618 1px solid;
    display: inline;
    font-weight: bold;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663));


}

nav a:hover {
    color: #283618;
    background: linear-gradient(90deg, #BC6C25, rgba(60, 133, 81, 0.663));

}


.stage {
    color: #283618;
    background: linear-gradient(2deg, #ce711fe0, rgba(60, 133, 81, 0.663));
}

main a {
    font-weight: 600;
    text-decoration: none;
    color: #606C38;
}

main a:hover {
    color: #283618;
    text-decoration: underline;
}

p {
    color: #606C38;
    text-indent: 35px;
    line-height: 1.8rem;
}

q {
    font-style: italic;
}

strong {
    font-weight: 600;
    color: #BC6C25;
}

em {
    color: #737d4f;
    font-style: italic;
    line-height: 2rem;
    font-weight: 700;
}

h1 {
    display: none;
}

h2 {
    margin: 35px 0px 10px;
    padding: 5px;
    text-transform: capitalize;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/seambackwalter.jpg);
    color: white;
    padding: 20px;
    max-width: 960px;
    height: 40px;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    text-shadow: 2px 2px #283618;
}

h3 {

    color: rgb(19, 59, 14);
    padding: 15px;
    margin: 10px;
    max-width: 60%;
}

h4 {
    font-size: medium;
    margin: 0;
    padding: 0;
    color: #BC6C25;

}

h5 {
    margin: 0;
    color: #283618;
}

.estiloFuenteLista {
    margin: 20px;

}

.estiloFuenteLista p {
    color: #606C38;
    line-height: 0.8rem;
    font-size: small;
    text-indent: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
}

blockquote {
    color: #BC6C25;
    font-style: italic;
}

figure {
    display: block;
    background-color: #283618;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    max-width: 250px;
    border: 2px solid green;
}

figure img {
    width: 100%;
}

figcaption {
    padding: 0px 10px 5px;
    text-align: center;
    color: whitesmoke;
    font-size: 13px;
}


.derecha {
    float: right;
    margin: 5px 0px 10px 20px;
}

.izquierda {
    float: left;
    margin: 5px 20px 10px 0px;
}

.fondo_lista_reparto {
    background-image: url(../img/bbchfondo.png), url(../img/seambackwalter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 75%;
    background-position-y: 185%;
}

ul {
    padding: 0;
    list-style: none;
    list-style-image: url('../img/bullet.png');
    margin-left: 65px;

}

ul li {
    padding: 5px 5px;
    width: 45%;
    margin: 0;
}

ul li:nth-child(2n) {
    background-color: #DDA15E;
}

ul li:nth-child(2n -1) {
    background-color: #FEFAE0;
}


footer {
    text-align: left;
    max-width: 960px;
    background-color: whitesmoke;
    margin: auto;


}

footer div {
    align-items: flex-start;
    display: inline-block;
  

}

footer p {
    background-color: #fefae0aa;
    font-weight: 600;
    font-size: 14px;
    color: black;
    background-color: #BC6C25;

}

footer img {
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 1px 2px 11px 2px  rgba(60, 133, 81, 0.663);
}

#analisiswalter h2 {
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url('../img/fonditoli.png') no-repeat right, url(../img/seambackwalter.jpg);
    background-position-y: -5px;
}

#critica h2 {
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/bannercritica.jpg) no-repeat right, url(../img/seambackwalter.jpg);
    background-position-y: 35%;
    width: 920px;
}

#reparto h2 {
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url('../img/fonditoli.png') no-repeat right, url(../img/seambackwalter.jpg);

    background-position-y: 5%;
    width: 920px;
}

#bettercallsaul h2 {
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url('../img/mejorllamaasaul.jpg') no-repeat right, url(../img/seambackwalter.jpg);
    background-size: 960px;
    background-position-y: 35%;
    width: 920px;
}

#produccion h2 {
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/rodajebreakingbad.jpeg) no-repeat right, url(../img/seambackwalter.jpg);
    background-position-y: 35%;
    width: 920px;


}

#curiosidades h2 {
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/curiosidad.png) no-repeat right, url(../img/seambackwalter.jpg);
    background-position-y: 35%;
    width: 920px;

}

.tablagen {
    display: table;
    margin: auto;
    color: #DDA15E;
    font-weight: 600px;
}

.fila {
    display: table-row;

}

.col {
    display: table-cell;
    padding: 12px;
    background: #606C38;
}

#tablapremios {
    text-align: center;
}


.tituloFooter {
    font-weight: 700;
    color:#BC6C25;
    text-shadow: 1px 1px black;
    padding-left: 10px;
}

.valorFooter {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    padding: 12px;
    font-size: small;
    width: 600px;
    color:#bc6b25a0;
    text-align: center;
    text-shadow: 1px 1px black;

}

.contenedorcine {
    aspect-ratio: 16/9;
}

.flexcinema {
    display: flex;
    justify-content: space-between;
}

.caja_multimedia {
    width: 60%;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/seambackwalter.jpg);
    background-color: #283618;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 10px;

}

.flexintro {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.flexintro #introtheme {
    top: 0;
    box-shadow: 5px 5px 55px rgb(145, 20, 20);
}

#introthem h2 {
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/seambackwalter.jpg);
}

.caja_multimedia iframe {
    border: #283618 10px solid;
}

.columnaizq {
    display: flex;
    background-color: #606C38;
}

.columnader {
    background-color: #606C38;
    display: flex;

}

/* esta funcionalidad la dejo para el mas del 60% de cuota del mercado que es chrome */
tool-tip {
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #054615;
    background-attachment: fixed;
    transition: opacity .3s ease;
    border-radius: 2px;
    top: 0;
    border: #283618 2px solid;
    left: 0;
    margin-left: 107%;
    opacity: 0;
}

:has(> tool-tip) {
    position: relative;
}

:has(> tool-tip):hover tool-tip {
    opacity: 1;
    background-color: #054615;
    margin-left: 107%;
    right: -200px
}

tool-tip div {
    text-align: center;
}

tool-tip div p {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(82, 204, 41);
}

.estilofooter {
    display: flex;
    flex-direction: row;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/seambackwalter.jpg);
    margin-bottom: 10px;

}

.estiloform {
    display: flex;
    justify-content: center;
}

form {
    background: linear-gradient(4deg, #dda25ec8, rgba(60, 133, 81, 0.815)), url(../img/seambackwalter.jpg);
    background-color: #283618;
    min-width: 640px;
    max-width: 100%;
    color: whitesmoke;
    border-radius: 10px;
}

textarea {
    background-color: #283618;
    min-height: 100px;
    text-align: left;
    border: 1px solid green;
    border-top: 0;
    border-right: 0;
    padding: 0.5em;
    min-width: 95%;
    font-size: 1em;
    margin-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    color: #9c8a11;
}

textarea::placeholder {
    color: #9c8a11;
}

textarea::shadow {
    background-color: #BC6C25;
}

input ::first-letter {
    background-color: #9c8a11;
}

input {
    font-family: 'Ubuntu', sans-serif;
    background-color: #283618;
    padding: 2px;
    border: 1px solid green;
    border-top: 0;
    border-right: 0;
    margin-top: 2px;
    margin-left: 15px;
    color: #9c8a11;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 95%;
}

input::placeholder {
    color: #9c8a11;
}

[type="date"] {
    width: 30%;
}



label {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
}


[type="submit"] {
    color: #9c8a11;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    justify-content: center;
    padding: 5px;
    border: 1px solid green;
    background: #45511c;
    box-shadow: none;
    border-radius: 50px;
    max-width: 30%;

}

[type="checkbox"] {
    accent-color: #5b6c23;
    color: green;
}

.inline-fielset {
    margin: 10px 10px 10px 10px;
    text-align: left;
    border: 1px solid green;
}

.inline-fielset label,
.inline-fielset input {
    display: inline;
    font-weight: normal;
    width: inherit;
}

.inline-fielset>legend {
    margin: 0px;
    font-size: 20px;
}

.inline-fielset img {
    margin: 10px;
    margin-bottom: 0;
    padding: 2px;
    border: 2px solid green;
    border-radius: 5px;
}

.inline-fielset label {
    margin: 0;
}

.estiloDatos {
    background: #606C38;
    display: flexbox;
    flex-direction: column;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.flexbox-container {
    display: flex;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.flexbox-container>div {
    width: 50%;
  
}

.flexbox-container>div:first-child {
    margin-right: 20px;
}

.estiloredessociales {
    text-align: center;
    font-size: large;
    color: #9c8a11;
    text-shadow: 1px 1px black;
}

.estiloRegistro {
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px black;
    padding: 20px;
    background: linear-gradient(4deg, #DDA15E, rgba(60, 133, 81, 0.663)), url(../img/seambackwalter.jpg);
    background-position-y: 35%;
    width: 920px;
}

.bettercallsaulstyle {
    margin: auto;
}

.bettercallsaulstyle img {
    border-radius: 5px;
    border: green 2px solid;
}